/*Overall styling for teacher view*/
.react-icons {
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}
.teacher-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.teacher-view .list-group-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-bottom: 1rem;
}
.teacher-view .btn.btn-primary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}
.teacher-view .list-group-item {
  height: 50px;
  min-width: 150px;
  font-size: 20px;
  max-width: 260px;
  overflow-wrap: break-word;
  overflow-y: auto !important;
}
.teacher-view .info {
  width: 95%;
}
.teacher-view .btn.btn-secondary {
  margin-bottom: 1rem;
  font-size: large;
}
.scrollable {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.settings-icons .list-group-item {
  width: 70px;
}
.settings-icons .list-group-item {
  padding: 0.2rem;
}
/*Styling for modals*/
.form-label {
  margin-left: 1rem;
}
.form-control {
  margin-left: 1rem;
  width: 90%;
}
.modal-body {
  display: flex;
  flex-direction: column;
}
.modal {
  width: 100vw;
}
.modal-header {
  margin-bottom: 1rem;
}
.modal-footer {
  margin-top: 1rem;
}
.mobile-info {
  margin-bottom: 0;
  opacity: 0.75;
}
@media only screen and (min-width: 700px) {
  /*Change layout and font sizes on screens over the width of 700px*/
  .mobile-info {
    display: none;
  }
  .teacher-view > .list-group-container {
    max-width: 960px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  .react-icons {
    margin: 5px;
  }
  .word-container {
    width: auto;
  }
  .teacher-view .btn.btn-secondary {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: x-large;
  }
  .teacher-view .btn.btn-primary {
    font-size: x-large;
  }
  .teacher-view .info {
    width: auto;
  }
}
