.react-icons {
  vertical-align: middle;
  margin-top: 5px;
  cursor: pointer;
}

.form-label {
  margin-left: 1rem;
}
.form-control {
  margin-left: 1rem;
  width: 90%;
}
.modal {
  width: 100vw;
}
.modal-header {
  margin-bottom: 1rem;
}
.modal-footer {
  margin-top: 1rem;
}
.list-group-container {
  display: flex;
  flex-direction: row;
  width: 95%;
}
.mobile-info {
  margin-top: 1rem;
  margin-bottom: 0;
  opacity: 0.75;
}
.scrollable {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.teacher-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.icons {
  width: 50px;
}
.btn.btn-secondary {
  margin-bottom: 1rem;
  font-size: large;
}
.btn.btn-primary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}
.teacher-view .list-group-item {
  height: 50px;
  min-width: 100px;
  font-size: 20px;
  max-width: 260px;
  overflow-wrap: break-word;
  overflow-y: auto !important;
}
.settings-icons .list-group-item {
  padding: 0.2rem;
}
